* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.mainPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0px 50px 0 50px;
}

.mainPage_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid grey;
  padding-top: 25px;
  padding-bottom: 25px;
}

.mainPage__menu {
  display: flex;
  margin-right: 550px;
}

.mainPage__logo {
  margin-left: 50px;
  height: 51.83px;
  width: 190px;
}

.mainPage__user {
  height: 30px;
  width: 30px;
}

a {
  text-decoration: none;
  padding-right: 15px;
  color: #6f7682;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mainPage_account {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainPage__accountIn {
  display: flex;
}

.mainPage__accountImg {
  margin-right: 15px;
}

.mainPage_tools {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
  padding-bottom: 25px;
}

input,
button {
  border: none;
  outline: none;
  border-radius: 3px;
}
.mainPage__catalog {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
input {
  width: 519px;
  height: 50px;
  background: #ffffff;
  padding-left: 15px;
  border: 1px solid grey;
}
.mainPage__search button {
  height: 50px;
  width: 50px;
  background: #4798de;
  cursor: pointer;
}

.mainPage__search {
  display: flex;
  align-items: center;
}

#mainPage__search {
  display: flex;
  align-items: center;
}

.mainPage__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.mainPage_option {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.mainPage__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.mainPage__icon a {
  padding: 0;
}

img {
  height: 30px;
  width: 30px;
}
.mainPage_banner {
  position: relative;
  width: 100%;
  height: 800px;
}
.mainPage_contact a {
  color: #5ee073;
}

.mainPage__overlaytext {
  width: 70%;
  gap: 20px;
  padding: 20px;
}

h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

h1 {
  color: rgba(108, 219, 126, 1);
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}

.banner-img {
  width: 100%;
  height: 100%;
}

.swiper-pagination {
  width: 20px;
}
.swiper-button-next {
  z-index: 1000;
}

.mainPage__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 30%;
  right: 0;
  top: 0;
  background-color: white;
  opacity: 0.6;
  z-index: 100;
}

button {
  width: 140px;
  height: 40px;
  background-color: rgb(11, 102, 240);
  color: white;
  margin-left: 20px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 7px;
  border-radius: 3px;
  background-color: grey;
}

.swiper-pagination-bullet-active {
  background-color: rgba(71, 152, 222, 1);
}

.sale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  flex-direction: column;
}

.sale__dic {
  font-size: 25px;
  font-weight: 700;
  color: rgba(21, 36, 79, 1);
}

.sale__dic2 {
  font-size: 120px;
  font-weight: 700;
  color: rgba(241, 242, 246, 1);
  margin: -20px;
}

.sale_text {
  display: flex;
  width: 100%;
}

.sale_saleLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  width: 100%;
}

.sale__dic3 {
  color: rgba(71, 152, 222, 1);
  padding-right: 85px;
}
.sale__Stock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
}

.sale_banner {
  padding: 50px 100px 50px 100px;
  width: 100%;
  height: 100%;
}
.sales-banner {
  height: 100%;
}

.sale__img {
  height: 210px;
  width: 410px;
  border-radius: 3px;
}

.sale-slide {
  display: flex;
  justify-content: center;
}

.sale-button-next {
  position: absolute;
  top: 250px;
  right: 700px;
}

.sale-button-prev {
  position: absolute;
  top: 250px;
  left: 700px;
}

.sale-pagination {
  position: absolute;
  top: 240px;
  height: 20px;
  width: 30px;
}

.heat {
  width: 100%;
  height: 100%;
  padding: 50px 60px 50px 60px;
}

.heat__menu {
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 1);
}
.heat_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}

.product_window {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heat_product_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 370px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.product_img {
  height: 219px;
  width: 298px;
}
.product_picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product_description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 15px;
}

.product_options {
  display: flex;
  justify-content: space-around;
  visibility: hidden;
  padding-bottom: 10px;
}

.heat_product_card:hover .product_options {
  visibility: visible;
}

.heat_product_card:hover {
  height: 430px;
  box-shadow: 0 4px 6px rgba(71, 152, 222, 1);
}

button {
  cursor: pointer;
}

.menu__top {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.menu__top__element {
  height: 50px;
  width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(241, 242, 246, 1);
  flex-grow: 1;
}

.menu__bot {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.menu__bot__element {
  height: 50px;
  width: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(241, 242, 246, 1);
  flex-grow: 1;
  background-color: rgba(241, 242, 246, 1);
}

.product__more {
  width: 140px;
  height: 40px;
  border: 1px solid rgb(11, 102, 240);
  color: rgb(11, 102, 240);
  margin-left: 20px;
  background-color: #ffffff;
  border-radius: 3px;
}

.advertise {
  padding-top: 30px;
  width: 100%;
  height: 500px;
  display: flex;
  gap: 200px;
  align-items: center;
  background-image: url(./src/img/baack.png);
  background-size: 100% auto; /* Растягивается по ширине, высота автоматическая */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Запрещает повторение */
}

.advertise_data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 90px;
}

.advertise_promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}

.advertise_promo__element img {
  height: 80px;
  width: 80px;
}

.advertise_promo__element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info__text {
  font-weight: 400;
  font-size: 35px;
  line-height: 45px;
  color: rgba(21, 36, 79, 1);
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.about {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6f7682;
}

.advertise_service {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 900px;
}

.product__price {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.product__instock {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: rgba(71, 152, 222, 1);
  padding-top: 15px;
}
.product__title {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: rgba(71, 152, 222, 1);
}

.country {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: Grey;
}

.class {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: Grey;
}
